<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actresses</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Add New Actress</h1>
    <form action="/actresses" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="birthplace">Birth place: </label>
        <input type="text" name="birthplace" id="birthplace">
        <label for="isWinner">Oscar Winner? </label>
        <input type="checkbox" name="isWinner" id="isWinner">
        <button type="submit">Add actress</button>
    </form>
</body>
</html>